{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
    <h1 class="no-margin">{{ book.title }}</h1>

    <h2 class="no-margin">by {{ book.author }}, {{ book.year }}</h2>
    
    {% if goodreadsReviews %}
        <div class="flex-container-row">
            <div class="flex-container-col">
                <h3>Average Rating</h3>
                <h2 id="average-rating">{{ goodreadsReviews.average_rating }}</h2>
            </div>

            <hr>
            
            <div class="flex-container-col">
                <h4>{{ goodreadsReviews.work_ratings_count }} ratings</h4>
                {% if reviews %}
                    <h4>{{ reviews.__len__() }} reviews</h4>
                {% else %}
                    <h4>No reviews yet</h4>
                {% endif %}
                <p>Statistics by <a href="https://www.goodreads.com/">Goodreads</a></p>                
            </div>
        </div>
    {% endif %}

    <hr class="section-divider">

    {% if reviews %}
        <div class="section-review">
            <h2>Reviews</h2>
            
            {% for review in reviews %}
                <div class="review-box">
                    <h4 class="no-margin">{{ review.name }} rated it {{ review.rate }}</h4>
                    <p class="no-margin">{{ review.review }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <hr class="section-divider">

    <div class="section-write-review">
        <h2>Write a Review</h2>
    
        <form action="" method="post">
            <h3 class="disp-inline">My rating:</h3>
            <input class="review-rate disp-inline" type="range" name="reviewRate" min="1" max="5">
            <textarea name="reviewText" placeholder="What did you think?"></textarea>
            <button type="submit">Post review</button>
        </form>
    </div>

    <a href="#" class="button-back">Go back</a>

{% endblock %}