{% extends "layout.html" %}

{% block heading %}
{{ book.title }}
{% endblock %}

{% block body %}
    <h4>Author: {{ book.author }}</h4>
    <h4>Year: {{ book.year }}</h4>
    <h4>ISBN: {{ book.isbn }}</h4>

    {% if reviews %}
        <h2>Reviews:</h2>

        {% for review in reviews %}
            <div>
                <h4>{{ review.name }}</h4>
                <p>{{ review.rate }}</p>
                <p>{{ review.review }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if goodreadsReviews %}
        <h2>Review Statistics (by <a href="https://www.goodreads.com/">Goodreads</a>):</h2>
        <h4>Average Rating: {{ goodreadsReviews.average_rating }}</h4>
        <h4>Number of ratings: {{ goodreadsReviews.work_ratings_count }}</h4>
        
    {% endif %}

    <form action="" method="post">
        <label for="reviewRate">Your rate:</label>
        <input type="range" name="reviewRate" min="1" max="5">
        <textarea name="reviewText" cols="50" rows="10" placeholder=""></textarea>
        <button type="submit">Send your review</button>
    </form>

{% endblock %}