{% extends "layout.html" %}

{% block heading %}
    {% if name %}
        Hello {{ name }}!
    {% else %}
        {{ errorMessage }}
    {% endif %}
{% endblock %}

{% block body %}
    <h2>Search for a book!</h2>

    <form action="{{ url_for('search') }}" method="POST">
        <input type="text" name="searchByISBN" placeholder="Search by ISBN">
        <input type="text" name="searchByTitle" placeholder="Search by Title">
        <input type="text" name="searchByAuthor" placeholder="Search by Author">
        <button>Search!</button>
    </form>

{% endblock %}